$title-font-size: 3rem;
$value-font-size: 5rem;

.dbState {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .state {
        padding: 1rem;
        border-radius: 15px;
        border: 3px #ccc solid;
        text-align: center;
        flex-grow: 1;
        min-width: min-content;

        display: flex;
        flex-flow: column nowrap;


        .title {
            font-size: $title-font-size;
        }

        .value {
            font-size: $value-font-size;
        }
    }
}

.danger {
    background: #ec4646;
}

.warning {
    background: #EF7B45;
}

.healthy {
    background: rgb(97, 177, 90);
}
