.disk {


    &-space {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 1.6rem;
    position: relative;

    &__precentage {
        position: absolute;
        content: "";
        bottom: 1.5rem;
        font-size: 3rem;
        z-index: 1;
    }
}

}