.disk-space {

    .widget {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-size: 1.6rem;
        position: relative;
    }

    &__percentage {
        position: absolute;
        content: "";
        bottom: 5%;
        font-size: 3rem;
        z-index: 1;
    }
}
