.doughnut {
    position: relative;


    & > canvas {
        margin: 0 auto;
    }

    .percentage {
        position: absolute;
        bottom: 5%;
        left: calc(50% - 3.5rem);
        font-size: 3.5rem;
    }
}