// sizes
$base-font-size: clamp(1rem, 3vw, 2rem);


// colors
$text-color:#e9e9e9;
$background: #252526; 
$dark-background: #1e1e1e;

.grid-container {
    color: $text-color;
    font-family: 'Roboto Mono', sans-serif;
    // letter-spacing: 1px;

    & > * {
        background: $background;
        padding: 1rem;
        border-radius: 20px;
    }

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    grid-template-areas: 
    "state          state           state           info"
    "active-q       active-q        active-q        actions"
    "active-q       active-q        active-q        health"
    ".              .               .               disk"
    ".              .               .               caches"
    ;

}


@media all and (max-width:1500px){
    .grid-container {
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "state          state           info"
        "active-q       active-q        actions"
        "active-q       active-q        health"
        "caches              .          disk"
        ;
    }
}

@media all and (max-width:1300px){
    .grid-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "state          state"
        "info           actions"
        "active-q       active-q"
        "health         disk"
        "caches         ."
        ;
    }
}


// utility classes
.popup {
    display: none;
    position: absolute;
    background: #252526f1;
    padding: 1rem;
    border-radius: 15px;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    color: #fff;
}

.icon {
    height: 100%;
    width: 100%;
}

h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

h4 {
    margin: 0;
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.flx-left {
    justify-content: flex-start;
}

.btn {
    cursor: pointer;
}

canvas {
    margin: 0 auto;
}