// sizes
$base-font-size: 2rem;


// colors
$text-color:#e9e9e9;
$background: #252526; 

.grid-container {
    color: $text-color;
    font-family: sans-serif;
    line-height: 1.4;
    letter-spacing: 1px;
    font-size: $base-font-size;

    & > * {
        background: $background;
        padding: 1rem;
    }

    display: grid;

}