.grid {
    // max-width: 1524px;
    font-family: sans-serif;
    color: var(--theia-foreground);
    display: grid;
    padding: 1rem;
    gap: 1rem;
    align-items: flex-start;
    grid-template-columns: repeat(4,1fr); 
    // grid-template-columns: 3fr 1fr; 
    grid-template-areas: 
    "DBState    DBState     DBState       info"
    "DBState    DBState     DBState        dbActions"
    "memoryChart    memoryChart memoryChart    dbActions"
    "memoryChart    memoryChart memoryChart    dbHealth"
    "memoryChart    memoryChart memoryChart    diskSpace"
    ".   .      .     cache"
    "profiling       profiling profiling profiling"
    "system         system system system"
    ;

    & > * {
        background: var(--theia-quickInput-background); 
        padding: 1rem;
        border-radius: 10px;
    }
    
}

.memory-chart {
    display: flex;
    flex-direction: column;
    .chart {
        height: 475px;
    }
}

