.machine {
    display: flex;
    gap: .75rem;
    background: transparent;
    flex-wrap: wrap;
    

    & > div {
        flex-grow: 1;
        padding: 1rem;
        background: $background;
        border-radius: 15px;
        max-height: 200px;
        width: 230px
    }
}