.profiling {
    .header {
        display: grid;
        margin-bottom: 1rem;
        grid-template-columns: 1fr 3fr 1fr;
        justify-items: flex-end;
        align-items: center;

        h3 {
            justify-self: center;
            grid-column: 2;
        }
        .toggle {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            gap: 5px;
        }
    }

}

.queries {
    margin-top: 1rem;
    border:1px solid #717070;

    border-collapse: collapse;

        font-size: 1.6rem;
        display: grid;
        grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
        span {
            padding: 0.5rem;
            border: 1px solid #717070;
            border-collapse: collapse;

            &.odd {
                background: #4b4b4b;
            }
        }
}
