

.danger {
    background: #ec4646;
}

.warnning {
    background: #EF7B45;
}

.healthy {
    background: rgb(97, 177, 90);
}

.state {
    &-widget {
        flex-grow: 1;

        flex-shrink: 1;
        padding: 0.5rem;
        border-radius: 10px;
        display: grid; 
        grid-template-rows: 1fr 2fr;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }

    &-title {
        font-size: 1.4rem;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0.5rem;
        white-space: nowrap;
    }
    &-value {
        font-size: 4rem;
    }
}
