.chart {
    &--container {
        align-self: start;
        grid-area: memory;
        display: flex;
        flex-direction: column;
    }
    &--header {
        text-align: center;
        font-size: 1.6rem;
        padding: 0.5rem;
    }
}
