.grid {
    padding: 0 1rem ;
    display: grid;
    gap: 15px;
    align-items: flex-start;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "general general general general"
    "memory memory memory jobs"
    "systemInformation systemInformation cache cache"
    "RunningQueries RunningQueries RunningQueries RunningQueries"
    "RecentQueries RecentQueries RecentQueries RecentQueries"
    "WaitingThreads WaitingThreads ActiveThreads ActiveThreads";

    color: $white;
    font-size: 1.5rem;

    & > * {
        background: $dark-background;
    }
}