$background: #161616;
$light-background: #3C3C3C;
$dark-background: #1f1f1f;
$white:#fff;
$gray: #BABEC1;

:root {
    --blue: #546b55;
    --white: #c24e2a;
  }
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

body {
    background:$background;
}

@import "./styles/grid.scss";
@import "./styles/RunningJobs.scss";
@import "./styles/chart.scss";
@import "./styles/cache.scss";
@import "./styles/general-info.scss";
@import "./styles/systemInformation.scss";
@import "./styles/RunningQueries.scss";
@import "./styles/RecentQueries.scss";
@import "./styles/WaitingThreads.scss";
@import "./styles/ActiveThreads.scss";