body {
    display: block;
}

#root {
    max-width: 100vw;
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.table {
    text-align: center;
    font-family: sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:hover {
    background-color: rgba(158, 152, 152, 0.582);
}

.table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #ccc;
}

.th {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 25px;
}

.Button {
    cursor: pointer;
}