body {
    background: #1e1e1e;
}

#root {
    min-width: 800px;
}


#root {
    max-width: 1500px;
    margin: 0 auto;
}

/*
171, 200, 192 => #ABC8C0
232, 153, 141 => E8998D
253, 231, 76 => FD998D
32, 163, 158 => 20A39E
236, 70, 70 // warnning
137, 99, 186 => 8963BA
0, 148, 198 => 0094C6

 CSV 
abc8c0,e8998d,fd998d,156064,20a39e,8963ba,0094c6

 Array 
["abc8c0","e8998d","fd998d","156064","20a39e","8963ba","0094c6"]

 Object 
{"Opal":"abc8c0","Vivid Tangerine":"e8998d","Vivid Tangerine 2":"fd998d","Skobeloff":"156064","Light Sea Green":"20a39e","Amethyst":"8963ba","Blue NCS":"0094c6"}

 Extended Array 
[{"name":"Opal","hex":"abc8c0","rgb":[171,200,192],"cmyk":[15,0,4,22],"hsb":[163,15,78],"hsl":[163,21,73],"lab":[78,-11,1]},{"name":"Vivid Tangerine","hex":"e8998d","rgb":[232,153,141],"cmyk":[0,34,39,9],"hsb":[8,39,91],"hsl":[8,66,73],"lab":[71,28,19]},{"name":"Vivid Tangerine","hex":"fd998d","rgb":[253,153,141],"cmyk":[0,40,44,1],"hsb":[6,44,99],"hsl":[6,97,77],"lab":[73,36,22]},{"name":"Skobeloff","hex":"156064","rgb":[21,96,100],"cmyk":[79,4,0,61],"hsb":[183,79,39],"hsl":[183,65,24],"lab":[37,-20,-9]},{"name":"Light Sea Green","hex":"20a39e","rgb":[32,163,158],"cmyk":[80,0,3,36],"hsb":[178,80,64],"hsl":[178,67,38],"lab":[61,-34,-7]},{"name":"Amethyst","hex":"8963ba","rgb":[137,99,186],"cmyk":[26,47,0,27],"hsb":[266,47,73],"hsl":[266,39,56],"lab":[49,33,-40]},{"name":"Blue NCS","hex":"0094c6","rgb":[0,148,198],"cmyk":[100,25,0,22],"hsb":[195,100,78],"hsl":[195,100,39],"lab":[57,-15,-35]}]


*/

:root {
    --theia-foreground: #cccccc;
    --theia-errorForeground: #f48771;
    --theia-descriptionForeground: rgba(204, 204, 204, 0.7);
    --theia-icon-foreground: #c5c5c5;
    --theia-focusBorder: rgba(14, 99, 156, 0.8);
    --theia-selection-background: #217daf;
    --theia-textSeparator-foreground: rgba(255, 255, 255, 0.18);
    --theia-textLink-foreground: #3794ff;
    --theia-textLink-activeForeground: #3794ff;
    --theia-textPreformat-foreground: #d7ba7d;
    --theia-textBlockQuote-background: rgba(127, 127, 127, 0.1);
    --theia-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --theia-textCodeBlock-background: rgba(10, 10, 10, 0.4);
    --theia-widget-shadow: #000000;
    --theia-input-background: #3c3c3c;
    --theia-input-foreground: #cccccc;
    --theia-inputOption-activeBorder: rgba(0, 122, 204, 0);
    --theia-inputOption-activeBackground: rgba(14, 99, 156, 0.4);
    --theia-input-placeholderForeground: #a6a6a6;
    --theia-inputValidation-infoBackground: #063b49;
    --theia-inputValidation-infoBorder: #007acc;
    --theia-inputValidation-warningBackground: #352a05;
    --theia-inputValidation-warningBorder: #b89500;
    --theia-inputValidation-errorBackground: #5a1d1d;
    --theia-inputValidation-errorBorder: #be1100;
    --theia-dropdown-background: #3c3c3c;
    --theia-dropdown-foreground: #f0f0f0;
    --theia-dropdown-border: #3c3c3c;
    --theia-checkbox-background: #3c3c3c;
    --theia-checkbox-foreground: #f0f0f0;
    --theia-checkbox-border: #3c3c3c;
    --theia-pickerGroup-foreground: #3794ff;
    --theia-pickerGroup-border: #3f3f46;
    --theia-button-foreground: #ffffff;
    --theia-button-background: #0e639c;
    --theia-button-hoverBackground: #1177bb;
    --theia-badge-background: #4d4d4d;
    --theia-badge-foreground: #ffffff;
    --theia-scrollbar-shadow: #000000;
    --theia-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
    --theia-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --theia-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
    --theia-progressBar-background: #0e70c0;
    --theia-editorError-foreground: #f48771;
    --theia-editorWarning-foreground: #cca700;
    --theia-editorInfo-foreground: #75beff;
    --theia-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --theia-editor-background: #1e1e1e;
    --theia-editor-foreground: #d4d4d4;
    --theia-editorWidget-background: #252526;
    --theia-editorWidget-foreground: #cccccc;
    --theia-editorWidget-border: #454545;
    --theia-editor-selectionBackground: #264f78;
    --theia-editor-inactiveSelectionBackground: #3a3d41;
    --theia-editor-selectionHighlightBackground: rgba(173, 214, 255, 0.15);
    --theia-editor-findMatchBackground: #515c6a;
    --theia-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --theia-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --theia-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
    --theia-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --theia-editorHoverWidget-background: #252526;
    --theia-editorHoverWidget-foreground: #cccccc;
    --theia-editorHoverWidget-border: #454545;
    --theia-editorHoverWidget-statusBarBackground: #2c2c2d;
    --theia-editorLink-activeForeground: #4e94ce;
    --theia-editorLightBulb-foreground: #ffcc00;
    --theia-editorLightBulbAutoFix-foreground: #75beff;
    --theia-diffEditor-insertedTextBackground: rgba(155, 185, 85, 0.2);
    --theia-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
    --theia-list-focusBackground: #062f4a;
    --theia-list-activeSelectionBackground: #094771;
    --theia-list-activeSelectionForeground: #ffffff;
    --theia-list-inactiveSelectionBackground: #37373d;
    --theia-list-hoverBackground: #2a2d2e;
    --theia-list-dropBackground: #383b3d;
    --theia-list-highlightForeground: #0097fb;
    --theia-list-invalidItemForeground: #b89500;
    --theia-list-errorForeground: #f88070;
    --theia-list-warningForeground: #cca700;
    --theia-listFilterWidget-background: #653723;
    --theia-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --theia-listFilterWidget-noMatchesOutline: #be1100;
    --theia-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
    --theia-tree-indentGuidesStroke: #585858;
    --theia-menu-foreground: #cccccc;
    --theia-menu-background: #252526;
    --theia-menu-selectionForeground: #ffffff;
    --theia-menu-selectionBackground: #094771;
    --theia-menu-separatorBackground: #bbbbbb;
    --theia-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --theia-editor-snippetFinalTabstopHighlightBorder: #525252;
    --theia-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
    --theia-breadcrumb-background: #1e1e1e;
    --theia-breadcrumb-focusForeground: #e0e0e0;
    --theia-breadcrumb-activeSelectionForeground: #e0e0e0;
    --theia-breadcrumbPicker-background: #252526;
    --theia-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --theia-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --theia-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --theia-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --theia-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --theia-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --theia-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --theia-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --theia-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --theia-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --theia-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --theia-minimap-findMatchHighlight: #d18616;
    --theia-minimap-selectionHighlight: #264f78;
    --theia-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --theia-minimap-warningHighlight: #cca700;
    --theia-problemsErrorIcon-foreground: #f48771;
    --theia-problemsWarningIcon-foreground: #cca700;
    --theia-problemsInfoIcon-foreground: #75beff;
    --theia-editor-lineHighlightBorder: #282828;
    --theia-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --theia-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
    --theia-editorCursor-foreground: #aeafad;
    --theia-editorWhitespace-foreground: rgba(227, 228, 226, 0.16);
    --theia-editorIndentGuide-background: #404040;
    --theia-editorIndentGuide-activeBackground: #707070;
    --theia-editorLineNumber-foreground: #858585;
    --theia-editorActiveLineNumber-foreground: #c6c6c6;
    --theia-editorLineNumber-activeForeground: #c6c6c6;
    --theia-editorRuler-foreground: #5a5a5a;
    --theia-editorCodeLens-foreground: #999999;
    --theia-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --theia-editorBracketMatch-border: #888888;
    --theia-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
    --theia-editorGutter-background: #1e1e1e;
    --theia-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --theia-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --theia-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --theia-editorOverviewRuler-warningForeground: #cca700;
    --theia-editorOverviewRuler-infoForeground: #75beff;
    --theia-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --theia-symbolIcon-arrayForeground: #cccccc;
    --theia-symbolIcon-booleanForeground: #cccccc;
    --theia-symbolIcon-classForeground: #ee9d28;
    --theia-symbolIcon-colorForeground: #cccccc;
    --theia-symbolIcon-constantForeground: #cccccc;
    --theia-symbolIcon-constructorForeground: #b180d7;
    --theia-symbolIcon-enumeratorForeground: #ee9d28;
    --theia-symbolIcon-enumeratorMemberForeground: #75beff;
    --theia-symbolIcon-eventForeground: #ee9d28;
    --theia-symbolIcon-fieldForeground: #75beff;
    --theia-symbolIcon-fileForeground: #cccccc;
    --theia-symbolIcon-folderForeground: #cccccc;
    --theia-symbolIcon-functionForeground: #b180d7;
    --theia-symbolIcon-interfaceForeground: #75beff;
    --theia-symbolIcon-keyForeground: #cccccc;
    --theia-symbolIcon-keywordForeground: #cccccc;
    --theia-symbolIcon-methodForeground: #b180d7;
    --theia-symbolIcon-moduleForeground: #cccccc;
    --theia-symbolIcon-namespaceForeground: #cccccc;
    --theia-symbolIcon-nullForeground: #cccccc;
    --theia-symbolIcon-numberForeground: #cccccc;
    --theia-symbolIcon-objectForeground: #cccccc;
    --theia-symbolIcon-operatorForeground: #cccccc;
    --theia-symbolIcon-packageForeground: #cccccc;
    --theia-symbolIcon-propertyForeground: #cccccc;
    --theia-symbolIcon-referenceForeground: #cccccc;
    --theia-symbolIcon-snippetForeground: #cccccc;
    --theia-symbolIcon-stringForeground: #cccccc;
    --theia-symbolIcon-structForeground: #cccccc;
    --theia-symbolIcon-textForeground: #cccccc;
    --theia-symbolIcon-typeParameterForeground: #cccccc;
    --theia-symbolIcon-unitForeground: #cccccc;
    --theia-symbolIcon-variableForeground: #75beff;
    --theia-editor-foldBackground: rgba(38, 79, 120, 0.3);
    --theia-peekViewTitle-background: #1e1e1e;
    --theia-peekViewTitleLabel-foreground: #ffffff;
    --theia-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
    --theia-peekView-border: #007acc;
    --theia-peekViewResult-background: #252526;
    --theia-peekViewResult-lineForeground: #bbbbbb;
    --theia-peekViewResult-fileForeground: #ffffff;
    --theia-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --theia-peekViewResult-selectionForeground: #ffffff;
    --theia-peekViewEditor-background: #001f33;
    --theia-peekViewEditorGutter-background: #001f33;
    --theia-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
    --theia-peekViewEditor-matchHighlightBackground: rgba(255, 143, 0, 0.6);
    --theia-editorSuggestWidget-background: #252526;
    --theia-editorSuggestWidget-border: #454545;
    --theia-editorSuggestWidget-foreground: #d4d4d4;
    --theia-editorSuggestWidget-selectedBackground: #062f4a;
    --theia-editorSuggestWidget-highlightForeground: #0097fb;
    --theia-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
    --theia-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
    --theia-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --theia-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --theia-editorMarkerNavigationError-background: #f48771;
    --theia-editorMarkerNavigationWarning-background: #cca700;
    --theia-editorMarkerNavigationInfo-background: #75beff;
    --theia-editorMarkerNavigation-background: #2d2d30;
    --theia-activityBar-background: #333333;
    --theia-activityBar-foreground: #ffffff;
    --theia-activityBar-inactiveForeground: rgba(255, 255, 255, 0.4);
    --theia-activityBar-activeBorder: #ffffff;
    --theia-activityBar-dropBackground: rgba(255, 255, 255, 0.12);
    --theia-activityBarBadge-background: #007acc;
    --theia-activityBarBadge-foreground: #ffffff;
    --theia-sideBar-background: #252526;
    --theia-sideBarSectionHeader-background: rgba(128, 128, 128, 0.2);
    --theia-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
    --theia-editorGroup-border: #444444;
    --theia-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --theia-editorGroupHeader-tabsBackground: #252526;
    --theia-tab-activeBackground: #1e1e1e;
    --theia-tab-unfocusedActiveBackground: #1e1e1e;
    --theia-tab-inactiveBackground: #2d2d2d;
    --theia-tab-activeForeground: #ffffff;
    --theia-tab-inactiveForeground: rgba(255, 255, 255, 0.5);
    --theia-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
    --theia-tab-unfocusedInactiveForeground: rgba(255, 255, 255, 0.25);
    --theia-tab-border: #252526;
    --theia-tab-activeBorderTop: rgba(14, 99, 156, 0.8);
    --theia-tab-unfocusedActiveBorderTop: rgba(14, 99, 156, 0.4);
    --theia-tab-activeModifiedBorder: #3399cc;
    --theia-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --theia-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --theia-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --theia-statusBar-foreground: #ffffff;
    --theia-statusBar-background: #007acc;
    --theia-statusBar-noFolderForeground: #ffffff;
    --theia-statusBar-noFolderBackground: #68217a;
    --theia-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --theia-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --theia-quickInput-background: #252526;
    --theia-panel-background: #1e1e1e;
    --theia-panel-border: rgba(128, 128, 128, 0.35);
    --theia-panel-dropBackground: rgba(255, 255, 255, 0.12);
    --theia-panelTitle-activeForeground: #e7e7e7;
    --theia-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
    --theia-panelTitle-activeBorder: #e7e7e7;
    --theia-imagePreview-border: rgba(128, 128, 128, 0.35);
    --theia-titleBar-activeForeground: #cccccc;
    --theia-titleBar-inactiveForeground: rgba(204, 204, 204, 0.6);
    --theia-titleBar-activeBackground: #3c3c3c;
    --theia-titleBar-inactiveBackground: rgba(60, 60, 60, 0.6);
    --theia-menubar-selectionForeground: #cccccc;
    --theia-menubar-selectionBackground: rgba(255, 255, 255, 0.1);
    --theia-welcomePage-buttonBackground: rgba(0, 0, 0, 0.2);
    --theia-welcomePage-buttonHoverBackground: rgba(200, 235, 255, 0.07);
    --theia-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.4);
    --theia-settings-headerForeground: #e7e7e7;
    --theia-settings-modifiedItemIndicator: #0c7d9d;
    --theia-settings-dropdownBackground: #3c3c3c;
    --theia-settings-dropdownForeground: #f0f0f0;
    --theia-settings-dropdownBorder: #3c3c3c;
    --theia-settings-dropdownListBorder: #454545;
    --theia-settings-checkboxBackground: #3c3c3c;
    --theia-settings-checkboxForeground: #f0f0f0;
    --theia-settings-checkboxBorder: #3c3c3c;
    --theia-settings-textInputBackground: #292929;
    --theia-settings-textInputForeground: #cccccc;
    --theia-settings-numberInputBackground: #292929;
    --theia-settings-numberInputForeground: #cccccc;
    --theia-variable-name-color: #c586c0;
    --theia-variable-value-color: rgba(204, 204, 204, 0.6);
    --theia-variable-number-variable-color: #b5cea8;
    --theia-variable-boolean-variable-color: #4e94ce;
    --theia-variable-string-variable-color: #ce9178;
    --theia-ansi-black-color: #a0a0a0;
    --theia-ansi-red-color: #a74747;
    --theia-ansi-green-color: #348f34;
    --theia-ansi-yellow-color: #5f4c29;
    --theia-ansi-blue-color: #6286bb;
    --theia-ansi-magenta-color: #914191;
    --theia-ansi-cyan-color: #218d8d;
    --theia-ansi-white-color: #707070;
    --theia-errorBackground: #5a1d1d;
    --theia-warningBackground: #cca700;
    --theia-warningForeground: #352a05;
    --theia-statusBar-offlineBackground: #cca700;
    --theia-statusBar-offlineForeground: #1e1e1e;
    --theia-statusBarItem-offlineHoverBackground: #ffd61f;
    --theia-statusBarItem-offlineActiveBackground: #ffdd47;
    --theia-secondaryButton-foreground: #f0f0f0;
    --theia-secondaryButton-disabledForeground: rgba(240, 240, 240, 0.5);
    --theia-secondaryButton-background: #5a5a5a;
    --theia-secondaryButton-hoverBackground: #6c6c6c;
    --theia-secondaryButton-disabledBackground: rgba(90, 90, 90, 0.6);
    --theia-button-disabledForeground: rgba(255, 255, 255, 0.5);
    --theia-button-disabledBackground: rgba(14, 99, 156, 0.5);
    --theia-editorGutter-commentRangeForeground: #c5c5c5;
    --theia-terminal-background: #1e1e1e;
    --theia-terminal-foreground: #cccccc;
    --theia-terminal-selectionBackground: rgba(255, 255, 255, 0.25);
    --theia-terminal-border: rgba(128, 128, 128, 0.35);
    --theia-terminal-ansiBlack: #000000;
    --theia-terminal-ansiRed: #cd3131;
    --theia-terminal-ansiGreen: #0dbc79;
    --theia-terminal-ansiYellow: #e5e510;
    --theia-terminal-ansiBlue: #2472c8;
    --theia-terminal-ansiMagenta: #bc3fbc;
    --theia-terminal-ansiCyan: #11a8cd;
    --theia-terminal-ansiWhite: #e5e5e5;
    --theia-terminal-ansiBrightBlack: #666666;
    --theia-terminal-ansiBrightRed: #f14c4c;
    --theia-terminal-ansiBrightGreen: #23d18b;
    --theia-terminal-ansiBrightYellow: #f5f543;
    --theia-terminal-ansiBrightBlue: #3b8eea;
    --theia-terminal-ansiBrightMagenta: #d670d6;
    --theia-terminal-ansiBrightCyan: #29b8db;
    --theia-terminal-ansiBrightWhite: #e5e5e5;
    --theia-notifications-foreground: #cccccc;
    --theia-notifications-background: #252526;
    --theia-notificationLink-foreground: #3794ff;
    --theia-notificationCenterHeader-background: #303031;
    --theia-notifications-border: #303031;
    --theia-notificationsErrorIcon-foreground: #f48771;
    --theia-notificationsWarningIcon-foreground: #cca700;
    --theia-notificationsInfoIcon-foreground: #75beff;
}

.light  {
    --theia-foreground: #616161;
    --theia-errorForeground: #a1260d;
    --theia-descriptionForeground: #717171;
    --theia-icon-foreground: #424242;
    --theia-focusBorder: rgba(0, 122, 204, 0.4);
    --theia-selection-background: #c0dbf1;
    --theia-textSeparator-foreground: rgba(0, 0, 0, 0.18);
    --theia-textLink-foreground: #006ab1;
    --theia-textLink-activeForeground: #006ab1;
    --theia-textPreformat-foreground: #a31515;
    --theia-textBlockQuote-background: rgba(127, 127, 127, 0.1);
    --theia-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --theia-textCodeBlock-background: rgba(220, 220, 220, 0.4);
    --theia-widget-shadow: #a8a8a8;
    --theia-input-background: #ffffff;
    --theia-input-foreground: #616161;
    --theia-inputOption-activeBorder: rgba(0, 122, 204, 0);
    --theia-inputOption-activeBackground: rgba(0, 122, 204, 0.12);
    --theia-input-placeholderForeground: #767676;
    --theia-inputValidation-infoBackground: #d6ecf2;
    --theia-inputValidation-infoBorder: #007acc;
    --theia-inputValidation-warningBackground: #f6f5d2;
    --theia-inputValidation-warningBorder: #b89500;
    --theia-inputValidation-errorBackground: #f2dede;
    --theia-inputValidation-errorBorder: #be1100;
    --theia-dropdown-background: #ffffff;
    --theia-dropdown-border: #cecece;
    --theia-checkbox-background: #ffffff;
    --theia-checkbox-border: #cecece;
    --theia-pickerGroup-foreground: #0066bf;
    --theia-pickerGroup-border: #cccedb;
    --theia-button-foreground: #ffffff;
    --theia-button-background: #007acc;
    --theia-button-hoverBackground: #0062a3;
    --theia-badge-background: #c4c4c4;
    --theia-badge-foreground: #333333;
    --theia-scrollbar-shadow: #dddddd;
    --theia-scrollbarSlider-background: rgba(100, 100, 100, 0.4);
    --theia-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --theia-scrollbarSlider-activeBackground: rgba(0, 0, 0, 0.6);
    --theia-progressBar-background: #0e70c0;
    --theia-editorError-foreground: #e51400;
    --theia-editorWarning-foreground: #e9a700;
    --theia-editorInfo-foreground: #75beff;
    --theia-editorHint-foreground: #6c6c6c;
    --theia-editor-background: #ffffff;
    --theia-editor-foreground: #000000;
    --theia-editorWidget-background: #f3f3f3;
    --theia-editorWidget-foreground: #616161;
    --theia-editorWidget-border: #c8c8c8;
    --theia-editor-selectionBackground: #add6ff;
    --theia-editor-inactiveSelectionBackground: #e5ebf1;
    --theia-editor-selectionHighlightBackground: rgba(173, 214, 255, 0.5);
    --theia-editor-findMatchBackground: #a8ac94;
    --theia-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --theia-editor-findRangeHighlightBackground: rgba(180, 180, 180, 0.3);
    --theia-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
    --theia-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
    --theia-editorHoverWidget-background: #f3f3f3;
    --theia-editorHoverWidget-foreground: #616161;
    --theia-editorHoverWidget-border: #c8c8c8;
    --theia-editorHoverWidget-statusBarBackground: #e7e7e7;
    --theia-editorLink-activeForeground: #0000ff;
    --theia-editorLightBulb-foreground: #ddb100;
    --theia-editorLightBulbAutoFix-foreground: #007acc;
    --theia-diffEditor-insertedTextBackground: rgba(155, 185, 85, 0.2);
    --theia-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
    --theia-list-focusBackground: #d6ebff;
    --theia-list-activeSelectionBackground: #0074e8;
    --theia-list-activeSelectionForeground: #ffffff;
    --theia-list-inactiveSelectionBackground: #e4e6f1;
    --theia-list-hoverBackground: #e8e8e8;
    --theia-list-dropBackground: #d6ebff;
    --theia-list-highlightForeground: #0066bf;
    --theia-list-invalidItemForeground: #b89500;
    --theia-list-errorForeground: #b01011;
    --theia-list-warningForeground: #855f00;
    --theia-listFilterWidget-background: #efc1ad;
    --theia-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --theia-listFilterWidget-noMatchesOutline: #be1100;
    --theia-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
    --theia-tree-indentGuidesStroke: #a9a9a9;
    --theia-menu-foreground: #616161;
    --theia-menu-background: #ffffff;
    --theia-menu-selectionForeground: #ffffff;
    --theia-menu-selectionBackground: #0074e8;
    --theia-menu-separatorBackground: #888888;
    --theia-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
    --theia-editor-snippetFinalTabstopHighlightBorder: rgba(10, 50, 100, 0.5);
    --theia-breadcrumb-foreground: rgba(97, 97, 97, 0.8);
    --theia-breadcrumb-background: #ffffff;
    --theia-breadcrumb-focusForeground: #4e4e4e;
    --theia-breadcrumb-activeSelectionForeground: #4e4e4e;
    --theia-breadcrumbPicker-background: #f3f3f3;
    --theia-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --theia-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --theia-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --theia-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --theia-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --theia-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --theia-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --theia-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --theia-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --theia-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --theia-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --theia-minimap-findMatchHighlight: #d18616;
    --theia-minimap-selectionHighlight: #add6ff;
    --theia-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --theia-minimap-warningHighlight: #e9a700;
    --theia-problemsErrorIcon-foreground: #e51400;
    --theia-problemsWarningIcon-foreground: #e9a700;
    --theia-problemsInfoIcon-foreground: #75beff;
    --theia-editor-lineHighlightBorder: #eeeeee;
    --theia-editor-rangeHighlightBackground: rgba(253, 255, 0, 0.2);
    --theia-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
    --theia-editorCursor-foreground: #000000;
    --theia-editorWhitespace-foreground: rgba(51, 51, 51, 0.2);
    --theia-editorIndentGuide-background: #d3d3d3;
    --theia-editorIndentGuide-activeBackground: #939393;
    --theia-editorLineNumber-foreground: #237893;
    --theia-editorActiveLineNumber-foreground: #0b216f;
    --theia-editorLineNumber-activeForeground: #0b216f;
    --theia-editorRuler-foreground: #d3d3d3;
    --theia-editorCodeLens-foreground: #999999;
    --theia-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --theia-editorBracketMatch-border: #b9b9b9;
    --theia-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
    --theia-editorGutter-background: #ffffff;
    --theia-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.47);
    --theia-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --theia-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --theia-editorOverviewRuler-warningForeground: #e9a700;
    --theia-editorOverviewRuler-infoForeground: #75beff;
    --theia-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --theia-symbolIcon-arrayForeground: #616161;
    --theia-symbolIcon-booleanForeground: #616161;
    --theia-symbolIcon-classForeground: #d67e00;
    --theia-symbolIcon-colorForeground: #616161;
    --theia-symbolIcon-constantForeground: #616161;
    --theia-symbolIcon-constructorForeground: #652d90;
    --theia-symbolIcon-enumeratorForeground: #d67e00;
    --theia-symbolIcon-enumeratorMemberForeground: #007acc;
    --theia-symbolIcon-eventForeground: #d67e00;
    --theia-symbolIcon-fieldForeground: #007acc;
    --theia-symbolIcon-fileForeground: #616161;
    --theia-symbolIcon-folderForeground: #616161;
    --theia-symbolIcon-functionForeground: #652d90;
    --theia-symbolIcon-interfaceForeground: #007acc;
    --theia-symbolIcon-keyForeground: #616161;
    --theia-symbolIcon-keywordForeground: #616161;
    --theia-symbolIcon-methodForeground: #652d90;
    --theia-symbolIcon-moduleForeground: #616161;
    --theia-symbolIcon-namespaceForeground: #616161;
    --theia-symbolIcon-nullForeground: #616161;
    --theia-symbolIcon-numberForeground: #616161;
    --theia-symbolIcon-objectForeground: #616161;
    --theia-symbolIcon-operatorForeground: #616161;
    --theia-symbolIcon-packageForeground: #616161;
    --theia-symbolIcon-propertyForeground: #616161;
    --theia-symbolIcon-referenceForeground: #616161;
    --theia-symbolIcon-snippetForeground: #616161;
    --theia-symbolIcon-stringForeground: #616161;
    --theia-symbolIcon-structForeground: #616161;
    --theia-symbolIcon-textForeground: #616161;
    --theia-symbolIcon-typeParameterForeground: #616161;
    --theia-symbolIcon-unitForeground: #616161;
    --theia-symbolIcon-variableForeground: #007acc;
    --theia-editor-foldBackground: rgba(173, 214, 255, 0.3);
    --theia-peekViewTitle-background: #ffffff;
    --theia-peekViewTitleLabel-foreground: #333333;
    --theia-peekViewTitleDescription-foreground: rgba(97, 97, 97, 0.9);
    --theia-peekView-border: #007acc;
    --theia-peekViewResult-background: #f3f3f3;
    --theia-peekViewResult-lineForeground: #646465;
    --theia-peekViewResult-fileForeground: #1e1e1e;
    --theia-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --theia-peekViewResult-selectionForeground: #6c6c6c;
    --theia-peekViewEditor-background: #f2f8fc;
    --theia-peekViewEditorGutter-background: #f2f8fc;
    --theia-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
    --theia-peekViewEditor-matchHighlightBackground: rgba(245, 216, 2, 0.87);
    --theia-editorSuggestWidget-background: #f3f3f3;
    --theia-editorSuggestWidget-border: #c8c8c8;
    --theia-editorSuggestWidget-foreground: #000000;
    --theia-editorSuggestWidget-selectedBackground: #d6ebff;
    --theia-editorSuggestWidget-highlightForeground: #0066bf;
    --theia-editor-wordHighlightBackground: rgba(87, 87, 87, 0.25);
    --theia-editor-wordHighlightStrongBackground: rgba(14, 99, 156, 0.25);
    --theia-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --theia-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --theia-editorMarkerNavigationError-background: #e51400;
    --theia-editorMarkerNavigationWarning-background: #e9a700;
    --theia-editorMarkerNavigationInfo-background: #75beff;
    --theia-editorMarkerNavigation-background: #ffffff;
    --theia-activityBar-background: #ececec;
    --theia-activityBar-foreground: #000000;
    --theia-activityBar-inactiveForeground: rgba(0, 0, 0, 0.4);
    --theia-activityBar-activeBorder: #000000;
    --theia-activityBar-dropBackground: rgba(255, 255, 255, 0.12);
    --theia-activityBarBadge-background: #007acc;
    --theia-activityBarBadge-foreground: #ffffff;
    --theia-sideBar-background: #f3f3f3;
    --theia-sideBarSectionHeader-background: rgba(128, 128, 128, 0.2);
    --theia-tree-inactiveIndentGuidesStroke: rgba(169, 169, 169, 0.4);
    --theia-editorGroup-border: #e7e7e7;
    --theia-editorGroup-dropBackground: rgba(38, 119, 203, 0.18);
    --theia-editorGroupHeader-tabsBackground: #f3f3f3;
    --theia-tab-activeBackground: #ffffff;
    --theia-tab-unfocusedActiveBackground: #ffffff;
    --theia-tab-inactiveBackground: #ececec;
    --theia-tab-activeForeground: #333333;
    --theia-tab-inactiveForeground: rgba(51, 51, 51, 0.7);
    --theia-tab-unfocusedActiveForeground: rgba(51, 51, 51, 0.7);
    --theia-tab-unfocusedInactiveForeground: rgba(51, 51, 51, 0.35);
    --theia-tab-border: #f3f3f3;
    --theia-tab-activeBorderTop: rgba(0, 122, 204, 0.4);
    --theia-tab-unfocusedActiveBorderTop: rgba(0, 122, 204, 0.28);
    --theia-tab-activeModifiedBorder: #33aaee;
    --theia-tab-inactiveModifiedBorder: rgba(51, 170, 238, 0.5);
    --theia-tab-unfocusedActiveModifiedBorder: rgba(51, 170, 238, 0.7);
    --theia-tab-unfocusedInactiveModifiedBorder: rgba(51, 170, 238, 0.25);
    --theia-statusBar-foreground: #ffffff;
    --theia-statusBar-background: #007acc;
    --theia-statusBar-noFolderForeground: #ffffff;
    --theia-statusBar-noFolderBackground: #68217a;
    --theia-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --theia-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --theia-quickInput-background: #f3f3f3;
    --theia-panel-background: #ffffff;
    --theia-panel-border: rgba(128, 128, 128, 0.35);
    --theia-panel-dropBackground: rgba(38, 119, 203, 0.18);
    --theia-panelTitle-activeForeground: #424242;
    --theia-panelTitle-inactiveForeground: rgba(66, 66, 66, 0.75);
    --theia-panelTitle-activeBorder: #424242;
    --theia-panelInput-border: #dddddd;
    --theia-imagePreview-border: rgba(128, 128, 128, 0.35);
    --theia-titleBar-activeForeground: #333333;
    --theia-titleBar-inactiveForeground: rgba(51, 51, 51, 0.6);
    --theia-titleBar-activeBackground: #dddddd;
    --theia-titleBar-inactiveBackground: rgba(221, 221, 221, 0.6);
    --theia-menubar-selectionForeground: #333333;
    --theia-menubar-selectionBackground: rgba(0, 0, 0, 0.1);
    --theia-welcomePage-buttonBackground: rgba(0, 0, 0, 0.04);
    --theia-welcomePage-buttonHoverBackground: rgba(0, 0, 0, 0.1);
    --theia-walkThrough-embeddedEditorBackground: #f4f4f4;
    --theia-settings-headerForeground: #444444;
    --theia-settings-modifiedItemIndicator: #66afe0;
    --theia-settings-dropdownBackground: #ffffff;
    --theia-settings-dropdownBorder: #cecece;
    --theia-settings-dropdownListBorder: #c8c8c8;
    --theia-settings-checkboxBackground: #ffffff;
    --theia-settings-checkboxBorder: #cecece;
    --theia-settings-textInputBackground: #ffffff;
    --theia-settings-textInputForeground: #616161;
    --theia-settings-textInputBorder: #cecece;
    --theia-settings-numberInputBackground: #ffffff;
    --theia-settings-numberInputForeground: #616161;
    --theia-settings-numberInputBorder: #cecece;
    --theia-variable-name-color: #9b46b0;
    --theia-variable-value-color: rgba(108, 108, 108, 0.8);
    --theia-variable-number-variable-color: #09885a;
    --theia-variable-boolean-variable-color: #0000ff;
    --theia-variable-string-variable-color: #a31515;
    --theia-ansi-black-color: #808080;
    --theia-ansi-red-color: #be1717;
    --theia-ansi-green-color: #338a2f;
    --theia-ansi-yellow-color: #beb817;
    --theia-ansi-blue-color: #00008b;
    --theia-ansi-magenta-color: #8b008b;
    --theia-ansi-cyan-color: #008b8b;
    --theia-ansi-white-color: #bdbdbd;
    --theia-errorBackground: #f2dede;
    --theia-warningBackground: #e9a700;
    --theia-warningForeground: #f6f5d2;
    --theia-statusBar-offlineBackground: #e9a700;
    --theia-statusBar-offlineForeground: #ffffff;
    --theia-statusBarItem-offlineHoverBackground: #ffcb47;
    --theia-statusBarItem-offlineActiveBackground: #ffd876;
    --theia-secondaryButton-background: #ffffff;
    --theia-secondaryButton-hoverBackground: #ffffff;
    --theia-secondaryButton-disabledBackground: rgba(255, 255, 255, 0.6);
    --theia-button-disabledForeground: rgba(255, 255, 255, 0.5);
    --theia-button-disabledBackground: rgba(0, 122, 204, 0.5);
    --theia-editorGutter-commentRangeForeground: #c5c5c5;
    --theia-terminal-background: #ffffff;
    --theia-terminal-foreground: #333333;
    --theia-terminal-selectionBackground: rgba(0, 0, 0, 0.25);
    --theia-terminal-border: rgba(128, 128, 128, 0.35);
    --theia-terminal-ansiBlack: #000000;
    --theia-terminal-ansiRed: #cd3131;
    --theia-terminal-ansiGreen: #00bc00;
    --theia-terminal-ansiYellow: #949800;
    --theia-terminal-ansiBlue: #0451a5;
    --theia-terminal-ansiMagenta: #bc05bc;
    --theia-terminal-ansiCyan: #0598bc;
    --theia-terminal-ansiWhite: #555555;
    --theia-terminal-ansiBrightBlack: #666666;
    --theia-terminal-ansiBrightRed: #cd3131;
    --theia-terminal-ansiBrightGreen: #14ce14;
    --theia-terminal-ansiBrightYellow: #b5ba00;
    --theia-terminal-ansiBrightBlue: #0451a5;
    --theia-terminal-ansiBrightMagenta: #bc05bc;
    --theia-terminal-ansiBrightCyan: #0598bc;
    --theia-terminal-ansiBrightWhite: #a5a5a5;
    --theia-notifications-foreground: #616161;
    --theia-notifications-background: #f3f3f3;
    --theia-notificationLink-foreground: #006ab1;
    --theia-notificationCenterHeader-background: #e7e7e7;
    --theia-notifications-border: #e7e7e7;
    --theia-notificationsErrorIcon-foreground: #e51400;
    --theia-notificationsWarningIcon-foreground: #e9a700;
    --theia-notificationsInfoIcon-foreground: #75beff;
}